

{{> head }}

    
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Python libraries</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quia esse voluptas repudiandae tempore omnis, voluptatem fugit tempora! Voluptates minima adipisci exercitationem animi eveniet perferendis corrupti voluptatibus iste laudantium. Possimus?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/python.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}